<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<ul class="social-icons">
				<li class="twitter"><a href="http://twitter.com/PressenzaIPA" target="_blank">twitter</a></li>
		        <li class="facebook"><a href="https://www.facebook.com/pressenza" target="_blank">facebook</a></li>
		        <!--li class="youtube"><a href="http://www.youtube.com/user/PressenzaAIP" target="_blank">youtube</a></li-->
		        <li class="rss"><a href="{{homeurl}}/feed/">rss</a></li>
 			</ul>
		</div>
	    <div class="col-xs-12 col-md-9">
			<p class="copyrights">Except where otherwise note, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International license</a>.</p>
	 	</div>
	</div>
</div>