<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <ul class="social-icons">
                <li class="twitter">
                    {% if language.language_code == 'de' %}
                        <a href="https://twitter.com/pressenza_ger" target="_blank">twitter</a>
                    {% elseif language.language_code == 'es' %}
                        <a href="https://twitter.com/pressenza" target="_blank">twitter</a>
                    {% elseif language.language_code == 'fr' %}
                        <a href="https://twitter.com/Pressenza_fr" target="_blank">twitter</a>
                    {% elseif language.language_code == 'it' %}
                        <a href="https://twitter.com/Pressenza_it" target="_blank">twitter</a>
                    {% elseif language.language_code == 'pt-pt' %}
                        <a href="https://twitter.com/pressenzapt" target="_blank">twitter</a>
                    {% elseif language.language_code == 'el' %}
                        <a href="https://twitter.com/Pressenza_ath" target="_blank">twitter</a>
                    {% elseif language.language_code == 'ca' %}
                        <a href="https://twitter.com/PressenzaCat" target="_blank">twitter</a>
                    {% elseif language.language_code == 'tr' %}
                        <a href="http://twitter.com/PressenzaIPA" target="_blank">twitter</a>
                    {% elseif language.language_code == 'hu' %}
                        <a href="https://twitter.com/Pressenza_Hu" target="_blank">twitter</a>
                    {% else %}
                        <a href="https://twitter.com/PressenzaIPA" target="_blank">twitter</a>
                    {% endif %}
                </li>
                <li class="facebook">
                    {% if language.language_code == 'de' %}
                        <a href="https://www.facebook.com/PressenzaDeutschlandOsterreichSchweiz/" target="_blank">facebook</a>
                    {% elseif language.language_code == 'es' %}
                        <a href="https://www.facebook.com/pressenza" target="_blank">facebook</a>
                    {% elseif language.language_code == 'fr' %}
                        <a href="https://www.facebook.com/pressenzafrancophone/" target="_blank">facebook</a>
                    {% elseif language.language_code == 'it' %}
                        <a href="https://www.facebook.com/PressenzaItalia/" target="_blank">facebook</a>
                    {% elseif language.language_code == 'pt-pt' %}
                        <a href="https://www.facebook.com/PressenzaPortugues/" target="_blank">facebook</a>
                    {% elseif language.language_code == 'el' %}
                        <a href="https://www.facebook.com/pressenzagr/" target="_blank">facebook</a>
                    {% elseif language.language_code == 'ca' %}
                        <a href="https://www.facebook.com/PressenzaBarcelona/" target="_blank">facebook</a>
                    {% elseif language.language_code == 'tr' %}
                        <a href="https://www.facebook.com/PressenzaEnglish/" target="_blank">facebook</a>
                    {% else %}
                        <a href="https://www.facebook.com/PressenzaEnglish/" target="_blank">facebook</a>
                    {% endif %}
                </li>
                <li class="rss"><a href="{{ homeurl }}/feed/">rss</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-9">
            <p class="copyrights">Except where otherwise note, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International license</a>.</p>
        </div>
    </div>
</div>