<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<p><br><b>Pressenza</b>, an international news agency dedicated to news about peace and nonviolence with offices in Milan, Rome, London, Paris, New York, Madrid, Buenos Aires, Sao Paulo, Santiago and Hong Kong. Find out who we are and get in touch with us.</p>
		</div>
 	    <div class="col-xs-12 col-md-4"></div>
 	    <div class="col-xs-12 col-md-4"></div>
	</div> 
</div>