<div id="carousel-example-generic" class="carousel slide col-lg-12" data-ride="carousel">

  <div class="carousel-inner">
	{% for photo in attachments %}
		<div class="item {% if loop.first %}active{% endif %}">
			<img src="{{TimberImage(photo)}}" alt="{{TimberPost(photo).title}}" title="{{TimberPost(photo).title}}" class="img-responsive" />
		</div>

	{% endfor %}
  </div>

</div>