{% extends "base.twig" %}

{% block content %}
    <article class="box-page" id="post-{{ post.ID }}">
        <div class="box-content">
            {{ post.content }}
        </div>
    </article>
{% endblock %}